@font-face {
  font-family: "Inter Bold";
  src: url("./fonts/Inter-Bold.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Inter Medium";
  src: url("./fonts/Inter-Medium.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Inter Semi Bold";
  src: url("./fonts/Inter-SemiBold.otf");
  font-synthesis: none;
}
@font-face {
  font-family: "Inter Regular";
  src: url("./fonts/Inter-Regular.otf");
  font-synthesis: none;
}
